{% extends "page.html" %}

{% block title %}главная{% endblock %}

{% block breadcrumbs %}
<a>Главная</a>
{% endblock %}

{% block content %}
<h1>Главная</h1>
<p>
  Вы находитесь на главной странице.<br>
  Для перехода на существующую страницу можно использовать меню слева. Если его нет - значит на текущем уровне нет страниц.<br>
  Положение текущей страницы отображается сверху в виде ссылок, которые можно использовать для возврата на предыдущие уровни.<br>
  Отредактировать текущую страницу или добавить новую подстраницу можно с помощью ссылок справа.
</p>
<p>Приятно повеселиться!</p>
{% endblock %}