{% extends "base.html" %}
{% load pagetags %}

{% block title %}{{ page.title|default:"главная" }}{% endblock %}

{% block breadcrumbs %}
<a href="/">Главная</a> &rsaquo;
{% for page in page.get_ancestors %}
<a href="{{ page.get_absolute_url }}">{{ page.title }}</a> &rsaquo;
{% endfor %}
{% if page_not_exist and page %}
<a href="{{ page.get_absolute_url }}">{{ page.title }}</a> &rsaquo;
{% endif %}
<a>{% if page_not_exist %}{{ page_not_exist }}{% else %}{{ page.title }}{% endif %}</a>
{% endblock %}

{% block links %}
<a href="{{ page.get_absolute_url|default:'/' }}add/">добавить</a>
{% if page %}
<a href="{{ page.get_absolute_url }}edit/">редактировать</a>
{% endif %}
{% endblock %}

{% block menu %}
{% page_tree page %}
{% endblock %}

{% block content %}
{% if page_not_exist %}
<h1>Страница не существует</h1>
<p>Страница "{{ page_not_exist }}" не существует, но ее можно <a href="{{ page.get_absolute_url|default:'/' }}add/?name={{ page_not_exist }}">создать</a>.</p>
{% else %}
<h1>{{ page.title }}</h1>
{{ page.content|safe }}
{% endif %}
{% endblock %}